
.jumbotron, tr,th div{
	color:white !important;
	background-color: blue !important;;
}
	
h1{
	color:#ffffff;
	background-color: blue;
}
html,body{
@media (min-width: @screen-sm-min) { ... }
@media (min-width: @screen-md-min) { ... }
@media (min-width: @screen-lg-min) { ... }
}
.text